<!DOCTYPE html>
<html lang="en">
  <head>
 {{>HeaderLink}}
  </head>
  <body>
  {{>Navbar}}

    <div class="container-fluid main-header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-12 col-12 main_header_left align-items-center">
              <figure class="errimg">
              <img
                  src="images/error.webp"
                  alt="Aafrin Surti"
                  class="img-fluid"
                  title="Aafrin"
                />
                </figure>
                <p>There is Some Error</p>
              {{errMsg}}
              <a href="/weather"><button>Go Back</button></a>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <!---------------------Footer------------------------->
    {{>Footer}}
  </body>
</html>
