<!DOCTYPE html>
<html lang="en">
  <head>
 {{>HeaderLink}}
  </head>
  <body>
  {{>Navbar}}

    <div class="container-fluid main-header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_right align-items-center">
              <figure>
                <img
                  src="images/aafrin.jpg"
                  alt="Aafrin Surti"
                  class="img-fluid"
                  title="Aafrin"
                />
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to Weather App</p>
              <h1>
                I Am a <span class="text_color">FrontEnd Developer,</span>and A
                Freelancer
              </h1>
              <a href="/weather"><button>About Me</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!---------------------Footer------------------------->
    {{>Footer}}
  </body>
</html>
